In [102]:
import pandas as pd 
from scipy.stats import pearsonr, spearmanr, kendalltau
import numpy as np

In [ ]:
experiment_id='a'
res_path = f"/nfs/scistore19/locatgrp/dyao/multiview-crl-eval/results/numerical/five_latents_{experiment_id}_all_data.csv"
df = pd.read_csv(res_path)

In [107]:
df

,Unnamed: 0,z0,z1,z2,x,y,z0_est0,z0_est1,batch_num
0,0,0.257456,-1.788990,-1.151162,-0.167057,-0.713940,-0.478042,0.392661,49
1,1,-0.940578,-4.178601,-5.690914,-0.050818,-1.357148,-1.071974,0.210343,49
2,2,-1.152595,-4.022865,-4.741899,-0.963479,-1.762295,-0.936990,-0.398874,49
3,3,0.034376,-2.277396,-3.407096,0.117274,-0.951716,-0.893397,0.421880,49
4,4,0.479435,0.883432,0.330138,0.040747,0.447694,-0.110953,0.623900,49
...,...,...,...,...,...,...,...,...,...
204795,4091,0.179846,-1.238626,-0.025932,-0.682641,0.194691,-0.124855,0.423671,49
204796,4092,1.587571,7.921232,10.216488,3.358107,6.980887,3.409040,0.651618,49
204797,4093,-0.073689,-0.040218,-0.224417,-0.383764,-0.069805,-0.206829,0.495492,49
204798,4094,-0.814710,0.617301,-0.632020,0.118312,0.169509,-0.127668,0.549853,49
204799,4095,1.837263,5.871122,6.216260,1.864939,3.653210,1.739475,0.624513,49

In [108]:
spearman_correfs = []

In [109]:
batch_size=4096

In [ ]:
for batch_id in range(50):
    zs = df.iloc[batch_id*batch_size:(batch_id+1)*batch_size][['z0', 'z1', 'z2']].values
    z_hat = df.iloc[batch_id*batch_size:(batch_id+1)*batch_size][['z0_est0']].values
    spearman_correfs.append(np.abs(spearmanr(z_hat.squeeze(), zs).statistic[0, 1:]))

(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)
(4096, 1) (4096, 3)

In [111]:
spearman_correfs = np.stack(spearman_correfs)

In [113]:
spearman_correfs.mean(0)

array([0.84339882, 0.96023574, 0.99087785])

In [114]:
spearman_correfs.std(0)

array([0.00612341, 0.00176278, 0.00042718])